<footer id="footer" class="page-footer fixed-bottom font-small black pt-4 mt-4">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
          <div class="col-md-6">
            <h4 class="text-uppercase">Contact</h4>
            <p>If you have any questions about this web application, please feel free to e-mail the creator of this app...<br><a href="mailto:jbutler@mortonsmarket.com"><strong>Joshua Butler</strong></a></p>
          </div>
            <div class="col-md-6">
              <h4 class="text-uppercase">Links</h4>
                <ul class="list-unstyled">
                  <li>
                    <a href="/home">Back to Login Page</a>
                  </li>
                  <li>
                    <a href="/create">Begin New Report</a>
                  </li>
                </ul>
            </div>
      </div>
    </div>
    
  </footer>