

<div class="app-forms">
  <h3>Start Invoice Report</h3><br>
    <form role="form">
      <div>
        <input placeholder="Event Name" type="text" class="form-control" >
      </div><br>
      <div>
        <input placeholder="Work Order #" type="text" class="form-control">
      </div><br>
      <div> 
        <input placeholder="Event Date" type="text" class="form-control">
      </div><br>
      <div> 
        <input placeholder="Date Created" type="text" class="form-control">
      </div><br>
        <button type="submit" class="btn btn-primary">
          <span class="glyphicon glyphicon-plus"></span>Start Your Report</button>
    </form>
</div>