


        <div class="app-forms">
            <h3>Login</h3><br>
            <form role="form"  method="POST">
                <div>
                    <input placeholder="Username" type="text" class="form-control" >
                </div><br>
                <div>
                    <input placeholder="Password" type="text" class="form-control">
                </div><br>
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-plus">Login</span>
                    </button>
<!--  <p class="message">Not Registered?<a id="registerLink" href="#"><br>Register</a></p> -->
            </form>
        </div>
        <div class="app-forms">
            <h3>Register New Account</h3><br>
            <form role="form" method="POST">
                <div>
                    <input placeholder="New Username" type="text" class="form-control" >
                </div><br>
                <div>
                    <input placeholder=" New Password" type="text" class="form-control">
                </div><br>
                <div>
                    <input placeholder="Email Address" type="text" class="form-control">
                </div><br>
                <div>
                    <input placeholder="First Name" type="text" class="form-control">
                </div><br>
                <div>
                    <input placeholder="Last Name" type="text" class="form-control">
                </div><br>
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-plus">Create</span>
                    </button>
                <!--    <p class="message">Already Registered? <a id="" href="#"><br>Login</a></p>   -->
            </form>
        </div>